 
 * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background-color: #152238;
      color: #f1f1f1;
      line-height: 1.6;
    }

    header {
      position: sticky;
      top: 0;
      width: 100%;
      background-color: #152238;
      text-align: center;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid #283e5f;
    }

    header img {
      width: 95px;
      height: 95px;
      border-radius: 50%;
      margin-top: 0.5rem;
    }

    section {
      padding: 2rem 1rem;
      max-width: 900px;
      margin: auto;
    }

    h1, h2 {
      margin-bottom: 1rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 1rem;
    }

    .card {
      background: #1d2e4d;
      padding: 1rem;
      border-radius: 8px;
      border: 1px solid #304a72;
    }

    /* ESTILO PARA LAS CARTAS DE PROYECTO */

    .project-container {
      max-width: 40%;
      margin: 50px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 25px;

    }

    .projects {
      flex: 1;
      background-color: #1d2e4d;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: transform 0.3s ease-in-out;
    }

    .projects:hover {
      transform: scale(1.05);

    }

    .projects img {
      width: 100%;
      height: auto;
      border-radius: 8px;


    }

    .project-content {
      padding: 20px;
    }

    .project-content h3 {
      font-size: 27px;
      margin-bottom: 10px;

    }

    .project-content p {
      font-size: 17px;
      line-height: 1.6;



    }

    /* ESTILO PARA LA PARTE DE CONTACTO */

    .contact-container {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

    }

    .contact-left {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 20px;

    }

    .contact-left-title h2 {
      font-weight: 600;
      font-size: 40px;
      margin-bottom: 5px;
    }

    .contact-left-title hr {
      border: none;
      width: 120px;
      height: 5px;
      background-color: #304a72;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .contact-inputs{
      width: 400px;
      height: 50px;
      border: none;
      outline: none;
      padding-left: 25px;
      font-weight: 500;
      color: #152238;
      border-radius: 50px;

    }

    .contact-left textarea {
      height: 140px;
      padding-top: 15px;
      border-radius: 20px;
    }

    .contact-inputs:focus {
      border: 2px solid #4da6ff;
    }

    .contact-inputs::placeholder {
      color: #a9a9a9
    }

    .contact-left button {
      display: flex;
      align-items: center;
      padding: 15px 30px;
      font-size: 16px;
      color: #fff;
      gap: 10px;
      border: none;
      border-radius: 50px;
      background-image: linear-gradient(270deg,#4da6ff, #304a72);
      cursor: pointer;

    }

    .contact-left button img{
      height: 15px;

    }

    .contact-right img{
      width: 500px;
      padding-left: 6rem;
    }

    @media (max-width:800px) {
      .contact-inputs{
        width: 80vw;
      }
      .contact-right{
        display: none;
      }
    }

    /* ESTILO PARA LOS LINKS */

    a {
      color: #4da6ff;
      text-decoration: none;
    }

    /* ESTILO FOOTER */

    footer {
      text-align: center;
      padding: 1rem;
      border-top: 1px solid #283e5f;
      font-size: 0.9rem;
    }
